@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'my_theme';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(54% 0.285 252.881);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(82% 0.12 346.018);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(95% 0.026 236.824);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-family:
    'Pretendard Variable',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}
